body{
	font-size: 1em;
	margin: 0%;
}

#mainBoard{

	margin: .5%;
	padding: .25%;
	width: 80%;
	height: 35%;

	background-color: skyblue;
}

h1{
	padding: 0%;
	margin: .25%;
}

p{
	margin: .5%;
	display: block;
	width: 50%;
}

#mainBoard{
	font-size: 1em;
}

#aBetterLink{
	width: 20%;
	display: block;
	text-decoration: none;
	color: black;
	border-radius: 5%;
	border: solid 2px black;
}

#Start{
	color: white;
	background-color: #515050;
}

@media only screen and (max-width: 700px){
	#mainBoard{
		font-size: .25em;
	}
}

/*@media only screen and (max-width: 500px){

	#mainBoard{
		font-size: .25em;
		
	}
}*/