
#mainBoard{

	margin: 5%;
	padding: 2%;
	width: 70%;
	height: 35%;

	background-color: skyblue;
}

p{
	margin: 2%;
}

#mainBoard{
	font-size: 1em;
}

a{
	width: 20%;
	display: block;
	text-decoration: none;
	color: black;
	border-radius: 5%;
	border: solid 2px black;
}

#Start{
	color: white;
	background-color: #515050;
}

@media only screen and (max-width: 700px){
	#mainBoard{
		font-size: 10px;
	}
}

@media only screen and (max-width: 500px){

	#mainBoard{
		font-size: 8px;
		
	}
}